# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Virtual Environments
# ===============================
venv/
env/
ENV/
.venv/

# ===============================
# Streamlit
# ===============================
.streamlit/secrets.toml

# ===============================
# Machine Learning Models
# ===============================
*.pkl
*.joblib
*.h5
*.model

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Logs
# ===============================
*.log
